body {
    min-height: 100vh;
    background-color: lightblue !important;
}

.navbar {
    align-items: start;
    justify-content: center;

}

.container {
    display: flex;
    justify-content: center;
    padding: 40px 0;
}


.main-card {
    width: 32rem;
}

.pointer:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.04);
}


.question-footer {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
